{% load staticfiles %}

{% block content %}
<head>
  <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{%static "js/bootstrap.min.js"%}"></script>
  

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="/">Home</a></li>
			  <li><a href="/temperatureReport">View charts</a></li>
              <li><a href="/logService">View entries</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Web monitoring app</h1>
            <p>This app records temperature information in several locations using ESP8266s that read from DS18B20 temperature sensors.</p>
            <p><a href="temperatureReport" class="btn btn-primary btn-large">View report &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Database logs</h2>
              <p>Formatted output from the database. </p>
              <p><a class="btn" href="/logService">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>TBD</h2>
              <p>Additional sections TBD </p>
              <p><a class="btn" href="#">TBD &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
	</div>
	</body>
{% endblock %}